DATABASE_URL=postgresql://neondb_owner:dsdsdsw@ep-wild-silence-aq5qa4dm.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
REDIS_URL=redis-23421.crce295.us-east-1-1.ec2.cloud.redislabs.com:13959
RATE_LIMIT_PER_MINUTE=60
CACHE_TTL_SECONDS=60
APP_ENV=development
REDIS_API_KEY=abc